<!--Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the database.-->

<div class="container all">
    <h1>Eat-Da-Burger!</h1>
    <div class="container img">
        <img
            src="https://media1.s-nbcnews.com/j/newscms/2019_21/2870431/190524-classic-american-cheeseburger-ew-207p_d9270c5c545b30ea094084c7f2342eb4.fit-760w.jpg" />
    </div>
    <div class="container lists">
        <ul id="notdevoured">
            {{#each burgers}}
            {{#unless devoured }}
            <li>
                <p>
                    {{this.burger_name}}

                    <button data-burgerid="{{this.id}}" class="devour">Devour!</button>
                </p>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

        <ul id="devoured">
            {{#each burgers}}
            {{#if devoured }}
            <li>
                <p>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="delete-burger">Delete</button>

                </p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <h2 id="addform">Add a Burger</h2>
    <form id="addBurger" class="button-size">
        <textarea id="name" type="text" name="burger"></textarea>
        <button id="submit" type="submit">Add Burger!</button>
    </form>
</div>