* {
  box-sizing: border-box;
  justify-content: center;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: wheat;
  text-align: center;
  display: flex;
}
img {
  height: 200px;
  width: auto;
  border-radius: 2em;
  display: block;
  flex-shrink: 3;

  justify-content: center;
}

.lists {
  display: flex;
  justify-content: center;
}
#devoured {
  margin-left: 2%;
}
#notdevoured {
  margin-right: 2%;
}

p {
  padding-left: 15px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 220px;
  background: lightblue;
  list-style: none;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.delete-burger {
  margin-right: 20px;
  background-color: lightcoral;
}
.devour {
  margin-right: 20px;
  background-color: lightcyan;
}
#submit {
  background-color: grey;
}
@media (max-width: 490px) {
  ul {
    width: auto;
  }
  li {
    width: auto;
  }
  img {
    height: 150px;
    width: auto;
  }
}
