* {
  box-sizing: border-box;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: wheat;
  text-align: center;
}
img {
  height: 200px;
  width: auto;
  border-radius: 2em;
  display: block;

  justify-content: center;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#devoured {
  margin-left: 50px;
}
#notdevoured {
  margin-right: 50px;
}
li {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 250px;
  background: lightblue;
}
#addform {
  clear: both;
}
form {
  clear: both;
}
