* {
  box-sizing: border-box;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: wheat;
  text-align: center;
}
img {
  height: 200px;
  width: auto;
  border-radius: 2em;
  display: block;

  justify-content: center;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#devoured {
  margin-left: 50px;
}
#notdevoured {
  margin-right: 50px;
}
p {
  padding-left: 30px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 250px;
  background: lightblue;
  list-style: none;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.delete-burger {
  margin-right: 20px;
}
.devour {
  margin-right: 20px;
}
