* {
  box-sizing: border-box;
}

body {
  background-color: wheat;
  text-align: center;
}
img {
  height: 200px;
  width: auto;
  border-radius: 2em;
  display: block;
}

ol {
  float: left;
}
#addform {
  clear: both;
}
form {
  clear: both;
}
